:root, :host {
    border-radius: 0.25em;
    border-width: 0.0625em;
}
footer {
    text-align: center;
}
.perlur {
    text-align: center;
}
.shh {
    a {
        text-decoration: none;
    }
}
.overview {
    text-align: center;
}
/* label display inline */
.inlineLabel label {
    display: inline;
}
.letters {
    width: 100%;
    table-layout: fixed;
}
.letters th:nth-child(1),
.letters td:nth-child(1),
.letters tfoot td:nth-child(1) {
    text-align: right;
}
.symbols {
    width: 100%;
    table-layout: fixed;
}
.symbols th:nth-child(1),
.symbols td:nth-child(1),
.symbols tfoot td:nth-child(1) {
    text-align: right;
}
table {
    margin-top: 0;
    margin-bottom: 1em;
    font-family: fredoka;
}
/*thead falið en er samt sýnilegt fyrir aria lestur*/
thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
table, thead, td, tfoot {
    border: 2px solid var(--table-d);
    border-collapse: collapse;
}
/* tr og td breytt í block til að gera töfluna að einum dálki*/
tr {
    display: block;
    border-bottom: 1px solid var(--table-b);
}
tr:nth-child(odd) td {
    background-color: var(--table-a);
}
tr:nth-child(even) td {
    background-color: var(--table-c);
}
thead {
    border-bottom: 0.1875em solid var(--table-b);
}
tfoot th,
tfoot td {
  border-top: 0.1875em solid var(--table-b);
}
/* innihald td jafnað hægra megin til að data-label fái pláss */
td {
    display: block;
    text-align: right;
}
/* ath! td::before bætir við efni fyrir framan innihald td */
td::before {
    content: attr(data-label);
    float: left;
}
@media (min-width: 600px) {
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
    /*taflan endurgerð*/
    thead {
        display: table-header-group;
        position: relative;
        width: auto;
        overflow: visible;
    }
    td {
        display: table-cell;
        text-align: center;
    }
    /* ath! td::before data-label tekið út */
    td::before {
        content: none;
        clear: both;
    }
    tr {
        display: table-row;
        border-bottom: none;
    }
    .letters {
        width: 100%;
        table-layout: fixed;
    }
    .letters th:nth-child(1),
    .letters td:nth-child(1),
    .letters tfoot td:nth-child(1) {
        width: 15%;
        text-align: left;
    }
    .symbols {
        width: 100%;
        table-layout: fixed;
    }
    .symbols th:nth-child(1),
    .symbols td:nth-child(1),
    .symbols tfoot td:nth-child(1) {
        width: 20%;
        text-align: left;
    }
}
/* form */
fieldset {
    border: 1px solid var(--table-d);
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1em;
}
legend {
    padding: 0 0.5rem;
}
dialog > article > header .close, dialog > article > header :is(a, button)[rel=prev] {
    margin: 0;
    margin-left: 1em;
    padding: 0;
    float: right;
}
dialog > article .close, dialog > article :is(a, button)[rel=prev] {
    display: block;
    width: 1em;
    height: 1em;
    margin-top: calc(1em * -1);
    margin-bottom: 1em;
    margin-left: auto;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 0, 0)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");;
    background-position: center;
    background-size: auto 1em;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
}
dialog > article {
    width: 100%;
    max-height: calc(100vh - 1em * 2);
    margin: 1em;
    overflow: auto;
}
dialog {
    display: flex;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: inherit;
    min-width: 100%;
    height: inherit;
    min-height: 100%;
    padding: 0;
    border: 0;
    backdrop-filter: blur(0.375em);
    background-color: var(--form-back);
    color: var(--chatbox-f);
}
dialog > article .close:is([aria-current]:not([aria-current=false]), :hover, :active, :focus), dialog > article :is(a, button)[rel=prev]:is([aria-current]:not([aria-current=false]), :hover, :active, :focus) {
  opacity: 1;
}
dialog:not([open]), dialog[open=false] {
  display: none;
}
select:not([multiple], [size]) {
    padding-right: calc(1em + 1.5em);
    padding-left: 1em;
    padding-inline-start: 1em;
    padding-inline-end: calc(1em + 1.5rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center right 0.75em;
    background-size: 1em auto;
    background-repeat: no-repeat;
}
.buy {
    input[type=submit] {
        border-color: var(--chatbox-e);
        background-color: var(--chatbox-e);
    }
}
article > header, article > footer {
    margin-right: calc(1em * -1);
    margin-left: calc(1em * -1);
    padding: calc(1em * 0.66) 1em;
}
/* logo */

.Logo {
    display: block;
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 5;
    width: 100px;
}
.grid {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  display: grid;
  grid-template-rows: 1fr;
  text-align: left;
}
.grid > * {
  min-width: 0;
}
@media screen and (min-width: 768px) {
    .Logo {
        top: 175px;
        left: 80px;
        width: 140px;
    }
    .container {
        max-width: 700px;
    }
    .grid {
        grid-template-rows: repeat(auto-fit, minmax(0%, 1fr));
    }
    dialog > article {
        max-width: 700px;
    }
}
@media screen and (min-width: 960px){
    .Logo {
        top: 225px;
        left: 100px;
        width: 170px;
    }
    .container {
        max-width: 950px;
    }
}
@media screen and (min-width: 1280px){
    .Logo {
        top: 275px;
        left: 200px;
        width: 200px;
    }
    .container {
        max-width: 1100px;
    }
}